@font-face {
    font-family: "Dax";
    src: url(fonts/Dax.ttf);
}

@font-face {
    font-family: "Dax Medium";
    src: url(fonts/DaxMedium.ttf);
}

body {
    width: 480px;
    height: 320px;
    margin: 0;
    padding: 0;
    font-family: "Dax Medium";
    overflow: hidden;
}

body:after{
    display:none;
    content: url(../img/bg-landscape.png) url(../img/bottle1.png) url(../img/bottle-pure1.png) url(../img/btn1.png) url(../img/btn-first-screen.png) url(../img/btn-second-screen.png) url(../img/doctor.png) url(../img/drop1.png) url(../img/leaves-border.png) url(../img/pack.png) url(../img/people1.png) url(../img/shining-drop1.png) url(../img/tablet1.png);
}

#rma-widget {
    width: 480px;
    height: 320px;
    overflow: hidden;
    position: relative;
    background: white;
}

#pack {
    width: 102px;
    height: 109px;
    background: url("../img/pack.png") no-repeat;
    background-size: contain;
    z-index: 3;
    position: absolute;
    bottom: 160px;
}

#content {
    width: 320px;
    height: 480px;
    position: relative;
    padding-bottom: 0 !important;
}
#header-text {
    position: absolute;
    left: 9px;
    top: 8px;
    z-index: 2;
    color: #ffffff;
    font-size: 0.6em;
}
#bg {
    position: absolute;
    width: 480px;
    height: 320px;
    background: url("../img/bg-landscape.png") no-repeat;
    background-size: contain;
    z-index: 2;
}
#drop {
    z-index: 5;
    position: absolute;
    right: -100px;
    top: -200px;
    width: 81px;
    height: 288px;
    background: url("../img/drop1.png") no-repeat;
    background-size: contain;
}
#shining-drop {
    z-index: 4;
    position: absolute;
    right: -145px;
    top: 47px;
    width: 194px;
    height: 196px;
    background: url("../img/shining-drop1.png") no-repeat;
    background-size: contain;
}
#people, #doctor {
    position: absolute;
    width: 420px;
    height: 357px;
    background-size: contain;
}
#people {
    background: url("../img/doctor.png") no-repeat;
}
#doctor {
    background: url("../img/doctor.png") no-repeat;
}
#tablet {
    position: absolute;
    right: -163px;
    top: 135px;
    width: 246px;
    height: 196px;
    background: url("../img/tablet1.png") no-repeat;
    background-size: contain;
    z-index: 1;
}
#tablet p {
    position: absolute;
    color: #e7e7e7;
    font-family: "Dax";
    font-weight: lighter;
    font-size: 11px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
#tablet .on-blue-germs {
    top: 30px;
    left: 27px;
}
#tablet .on-red-germs {
    top: 70px;
    right: 59px;
}

#leaves {
    height: 150px;
    width: 319px;
    background: url("../img/leaves-border.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: -161px;
}
#btn-for-drop {
    opacity: 1;
    cursor: pointer;
    height: 50px;
    width: 125px;
    position: absolute;
    left: 100px;
    top: 176px;
    background: url("../img/btn-first-screen.png") no-repeat;
    background-size: contain;
    z-index:4;
}

#grey-text {
    position: absolute;
    top: 158px;
    left: 29px;
    color: #585a5d;
    font-size: 0.656em;
    line-height: 12px;
}
#red-text {
    position: absolute;
    top: 116px;
    left: 29px;
    color: #e1202b;
    font-size: 16px;
    line-height: 17px;
}
#red-text span.second {
    font-size: 0.88em;
}

#footer {
    z-index: 2;
    position: absolute;
    bottom: 162px;
    right: -156px;
    color: #fff;
    font-family: "Dax";
    font-weight: lighter;
    font-size: 0.67em;
}

#bottle, #shining-bottle {
    width: 204px;
    height: 259px;
    position: absolute;
    right: -132px;
    top: 57px;
    z-index: 3;
}
#bottle {
    background: url("../img/bottle-pure1.png") no-repeat;
    background-size: contain;
    opacity: 0;
}
#shining-bottle {
    background: url("../img/bottle1.png") no-repeat;
    background-size: contain;
    opacity: 0;
}

#btn {
    z-index: 1;
    display: block;
    text-decoration: none;
    width: 125px;
    height: 50px;
    background: url("../img/btn-second-screen.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 100px;
    top: 176px;
    opacity: 0;
}

@keyframes textAnimation {
    75% {
        right: 22px;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes textAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}